* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header {
    height: 42px;
    margin: 30px auto;
    /*background-color: pink;*/
}

.logo {
    float: left;
    height: 42px;
    width: 195px;
    /*background-color: skyblue;*/
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
    line-height: 42px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #0099FF;
    color: #0099FF;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
    /*background-color: skyblue;*/
}

.search input {
    float: left;
    width: 346px;
    height: 40px;
    border: 1px solid #0099FF;
    outline: none;
    border-right: 0;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-image: url('../img/btn.png');
}

.avatar {
    float: right;
    margin-right: 30px;
    line-height: 42px;
    color: #666;
    font-size: 14px;
}

.banner {
    height: 420px;
    background-color: #1C036B;
}

.banner .w {
    height: 420px;
    background: url("../img/banner2.png") no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, .3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

/*.subnav ul li:hover {
    background-color: #0099FF;
}*/

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a:hover {
    color: #0099FF;
}

.subnav ul li a span {
    float: right;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 60px;
    /*background-color: pink;*/
    background-color: #fff;
}

.course h2 {
    height: 48px;
    background-color: #a4cde5;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
}

.course .bd {
    padding: 0 20px;
}

.course .bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #a5a5a5;
}

.course .bd ul li h4 {
    color: #4e4e4e;
    font-size: 16px;
}

.course .bd ul li p {
    color: #a5a5a5;
    font-size: 12px;
}

.course .bd a {
    display: block;
    height: 38px;
    margin-top: 5px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 700;
}

.goods {
    height: 60px;
    margin-top: 8px;
    line-height: 60px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, .1);
}

.goods h3 {
    float: left;
    padding-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li .goods-item {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods .mod {
    float: right;
    padding-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
    /*height: 300px;
    background-color: #00a4ff;*/
}

.box .box-hd {
    height: 45px;
}

.box .box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd a {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box-bd ul {
    width: 1215px;
    /*height: 200px;*/
    /*background-color: #1C036B;*/
}

.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

.box-bd ul li img {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.box-bd span {
    color: #ff7c2d;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.footer {
    height: 415px;
    /*background-color: pink;*/
}

.footer .w {
    padding-top: 50px;
}

.footer .copyright {
    float: left;
}

.footer .copyright p {
    margin: 20px 0 15px 0;
    font-size: 12px;
    color: #666666;
}

.footer .copyright a {
    display: block;
    height: 36px;
    width: 120px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    line-height: 36px;
    text-align: center;
}

.footer .links {
    float: right;
}

.footer .links dl dt {
    margin-bottom: 14px;
    color: #333;
    font-size: 16px;
}

/*.footer .links dl dd {*/
/*    margin-bottom: 1px;*/
/*}*/

.footer .links dl {
    float: left;
    margin-left: 100px;
}

.footer .links dl dd a {
    color: #333;
    font-size: 12px;
}
